<section class="page-width">
  <div class="{{ section.settings.section_class}}">
    <h2>{{ section.settings.section_title}}</h2>
    <h3>{{ section.settings.section_description}}</h3>
    <div class="unorderd-list-description">{{ section.settings.section_html}}</div>
    {%- for block in section.blocks -%}
      {{ block.settings.title }}
    {%- endfor -%}
  </div>
</section>
{% schema %}
  {
    "name": "Html",
    "settings": [
		{
          "type": "text",
          "id": "section_title",
          "label": "Title"
		},
		{
          "type": "text",
          "id": "section_description",
          "label": "Description"
		},
		{
          "type": "html",
          "id": "section_html",
          "label": "Html code"
		},
		{
          "type": "text",
          "id": "section_class",
          "label": "Custom class"
		}
	],
	"presets": [
      {
        "name": "Html",
        "category": "Custom content"
      }
    ]
  }
{% endschema %}
