<div class="page-width">
  <h2>{{ sections.settings.slider-heading }}</h2>
  <div class="items-slider">
  {% for block in section.blocks %}
      <div class="single-slick-slide">
        <div class="testimonial-inner">
          <div class="testimonial-info">
            <strong>
              {% if block.settings.slide-name != blank %}
              {{ block.settings.slide-name }}
              {% endif %}
              {% if block.settings.slide-city != blank %}
              - {{ block.settings.slide-city }}
              {% endif %}
              {% if block.settings.slide-state != blank %}
              - {{ block.settings.slide-state }}
              {% endif %}
            </strong>
            {% if block.settings.slide-img != blank %}
              <img src="{{ block.settings.slide-img | img_url: 'medium'}}" />
            {% endif %}
            {{ block.settings.slide-description }}
          </div>
        </div>
      </div>
  {% endfor %}
  </div>
</div>
{% schema %}
{
  "name": "Slider",
  "class": "slider-class",
  "settings": [
  	{
		"type": "text",
		"id": "slider-heading",
		"label": "Slider Heading"
	}
  ],
  "blocks": [
    {
    "type": "slider",
	  "name": "slide",
      "settings": [
        {
          "id": "slide-img",
          "type": "image_picker",
          "label": "Select Image"
        },
        {
          "id": "slide-name",
          "type": "text",
          "label": "Add Author Name"
        },
		{
          "id": "slide-city",
          "type": "text",
          "label": "Author City"
        },
		{
          "id": "slide-state",
          "type": "text",
          "label": "Author State"
        },
        {
          "id": "slide-description",
          "type": "textarea",
          "label": "Add Testimonial Content"
        }
      ]
    }
  ],
  "max_blocks": 20,
  "presets": [
    {
      "name": "Slider",
      "category": "Custom content"
    }
  ]
}
{% endschema %}